<header id="header" [ngClass]="{'header-scroll': isHeaderScrolled, 'header-top': !isHeaderScrolled}">
    <mat-toolbar id="NavHeader" fxLayout="row" fxLayoutAlign="space-between center">
        <a [ngClass]="{'text-scroll': isHeaderScrolled, 'text-top': !isHeaderScrolled}" mat-button
            class="aHeaderText">Quem Somos?</a>
        <img id="imgHeader" src="./../../assets/img/logo/EventFy.png">
        <a [ngClass]="{'text-scroll': isHeaderScrolled, 'text-top': !isHeaderScrolled}" mat-button
            class="aHeaderText">Integrantes</a>
    </mat-toolbar>
</header>