<header id="header" class="d-none d-lg-block fixed-top">
    <mat-toolbar id="NavHeader" fxLayout="row" fxLayoutAlign="space-between center">
        <a mat-button class="aHeaderText" (click)="scrollToQuemSomos()">Quem Somos?</a>
        <img id="imgHeader" src="./../../assets/logo/EventFy.png">
        <a mat-button class="aHeaderText" (click)="scrollToIntegrantes()">Integrantes</a>
    </mat-toolbar>>
</header>


<!--ENTER LOGICA DO d-(sm/md/lg/xl)-(block/none) -->

<header id="header" class="d-block d-sm-none">
    <mat-toolbar id="NavHeader" fxLayoutAlign="center">
        <img id="imgHeader" class="img-fluid" src="./../../assets/logo/EventFy.png">
    </mat-toolbar>
</header>

<header id="header" class="d-none d-sm-block">
    <mat-toolbar id="NavHeader" fxLayoutAlign="center">
        <img id="imgHeader" class="img-fluid" src="./../../assets/logo/EventFy.png">
    </mat-toolbar>
</header>