header {
    z-index: 999;
    height: 12vh;
    width: 100%;
}


#NavHeader {
    background: #fff;
    padding: 0 5vw;
    height: 100%;
    color: #fff;
}

.aHeaderText {
    font-size: 115%;
    text-decoration: none;
    color: #332C55 !important;
}

.teste {
    height: 100vh;
}

.header-scroll {
    background-color: #fff;
    box-shadow: 2px 7px 5px rgba(0, 0, 0, 0.5);
}

.header-top {
    background-color: transparent;
}

#imgHeader {
    height: 100%;
    padding-bottom: 1vh;
}

.text-scroll {
    color: #332C55 !important;
}

.text-top {
    color: #fff !important;
}