* {
    font-family: "Palanquin", sans-serif;
}


#copyright {
    width: 100%;
    height: 6vh;
    background-color: #332c55;
    display: table;
}

#textCopy {
    color: white;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

#redeSocial {
    background-color: blue;
    width: 100%;
    height: 13vh;
    display: table;
    background-image: url(../../assets/img/Background/backgroundFooter.jpg);
    background-position: 100% 94%;
    background-size: 100%;
}

#Icons {
    color: white;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

#imgIcons {
    width: 100%;
}

#containerLogo {
    width: 100%;
    height: 8vh;
    display: table;
    text-align: center;
    filter: none;
}

#Logo {
    margin-top: 5px;
    width: 7vh;
    height: 7vh;
}

#containerFind, #containerContact, #containerCreate {
    width: 100%;
    text-align: center;
    font-size: 22px;
    color: #fff;
    height: 32vh;
}

#titleFind {
    font-weight: bold;
}

#grid-footer {
    background-image: url(../../assets/img/Background/backgroundFooter.jpg);
    background-position: 100% 92%;
    background-repeat: no-repeat;
    background-size: cover;
}

#containerFind {
    border-left: solid 2px #fff;
    border-right: solid 2px #fff;
}

#list-create, #list-create-lg {
    width: 100%;
    margin-left: 25%;
}

#list-create-lg {
    margin-left: 16%;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    display: flex;
    align-items: center;
}

.marker {
    margin-right: 0.5em;
    font-size: 30px;
}

#icons-contact, #icons-contact-lg {
    width: 100%;
    height: 28vh;
    text-align: start;
    margin-left: 25%;
}

#icons-contact-lg {
    margin-left: 12%;
}

/* Mobile*/

#logoFooter-mobile {
    width: 10%
}

#divLogo-mobile {
    background: #ffffff;
}

#contentfooter-mobile {
    background: #202020;
}

#h3Redes-mobile {
    margin: 0;
    font-size: 5vw;
    text-align: center;
    padding-top: 6%;
    color: #fff;
    letter-spacing: 1.2px;
}

#icons-mobile {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 3%;
}

.icon-mobile {
    width: 11vw;
}

#containerinfo-mobile {
    padding-bottom: 4%;
    padding-top: 2%;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.boxFooter-mobile {
    width: 40vw;
    height: 100%;
}

#LinhaFooter-mobile {
    width: 0.7vw;
    border-radius: 5px;
    background: #ffffff;
    height: 24vw;
}

#navFooter-mobile {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#ulFooter-mobile {
    margin: 0;
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.aFooter-mobile {
    color: #fff;
    text-decoration: none;
    font-size: 3.4vw;
}

.liFooter-mobile {
    padding: 3% 0;
}

#boxContato-mobile {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#h4Footer-mobile, .spanFooter-mobile {
    padding: 3% 0;
    margin: 0;
    font-size: 3.4vw;
    color: #fff;
    letter-spacing: 1px;
}

#copyrightFooter-mobile {
    display: block;
    background: #202020;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 4vh;
    font-size: 3vw;
}