* {
    font-family: "Palanquin", sans-serif;
}

#qmsomosH1 {
    margin-top: 6%;
}

.TxtTitle {
    font-size: 450% !important;
    font-weight: bold;
    color: #fff;
    letter-spacing: 5px;
    text-shadow: 3px 3px #000;
}

.grid-qmsomos {

    display: flex;
    justify-content: center;
    align-items: center;

}

#container {
    background: #332C55;

}

#mainText {
    margin: 0;
    width: 90%;
    text-align: start;
    color: #fff;
    font-size: 180%;
    line-height: 140%;
    letter-spacing: 1.3px;
}

#mainContent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}

#imgQmSomos {
    object-fit: cover;
    height: 80%;
}

#divH1 {
    height: 18vh;
    background: #332C55;
    display: flex;
    justify-content: center;
    align-items: center;
}

#qmsomosH1-mobile {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.644);
    width: 90%;
    color: #fff;
    letter-spacing: 1.5px;
    line-height: 1;
    font-size: 2.3rem !important;
}

#divH1-mobile {
    width: 100%;
    padding-top: 8%;
}

#mobile {
    background: #EF820D;
}

#mainText-mobile {
    margin-top: 1.5%;
    width: 90%;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 8%;
}

#container-mobile {
    width: 100%;
    background: #332C55;
}

.p-mobile {
    width: 90%;
    color: #fff;
    line-height: 1.4;
    margin-bottom: 0;
}

.img-QmSomos {
    width: 72%;
}

.container-img {
    width: 40%;
}

.container-p {
    width: 60%;
}

.section-mobile {
    margin: 6% 0;

}

.span-QmSomos {
    color: #EF820D;
    padding-top: 6%;
}

#p-visao {
    text-align: end;
}

#missao-img {
    width: 65%
}