<div id="divH1"><h1 class="fs-1 text-center TxtTitle" id="qmsomosH1">Quem Somos?</h1></div>
<mat-grid-list id="container" cols="2" rowHeight="78vh">
    <mat-grid-tile class="grid-qmsomos">
      <div id="mainContent">
        <p id="mainText">Olá, somos estudantes da Etec Professor Horácio Augusto da Silveira e formamos a Equipe Beatles para desenvolver o Trabalho de Conclusão de Curso do Técnico em Desenvolvimento de Sistemas. Foi criado, a Event FY, um Sistema de Gestão de Eventos que visa atender as necessidades de um organizador na criação e gestão do pré, durante e pós evento, e também aos clientes que frequentam eventos facilitando a sua busca e acesso a esses.</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="grid-qmsomos">
     <img src="../../assets/img/Elementos/imgQmSomos.png" id="imgQmSomos" alt="demonstração">
    </mat-grid-tile>
  </mat-grid-list>
  