<div class="d-none d-lg-block">
  <div id="divH1">
    <h1 class="fs-1 text-center TxtTitle" id="qmsomosH1">Quem Somos?</h1>
  </div>
  <mat-grid-list id="container" cols="2" rowHeight="78vh">
    <mat-grid-tile class="grid-qmsomos">
      <div id="mainContent">
        <p id="mainText">Olá, somos estudantes da Etec Professor Horácio Augusto da Silveira e formamos a Equipe Beatles
          para desenvolver o Trabalho de Conclusão de Curso do Técnico em Desenvolvimento de Sistemas. Foi criado, a
          Event FY, um Sistema de Gestão de Eventos que visa atender as necessidades de um organizador na criação e
          gestão do pré, durante e pós evento, e também aos clientes que frequentam eventos facilitando a sua busca e
          acesso a esses.</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="grid-qmsomos">
      <img src="../../assets/img/Elementos/imgQmSomos.png" class="img-fluid" id="imgQmSomos" alt="demonstração">
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list id="container-valores" cols="3" rowHeight="78vh">
    <mat-grid-tile class="grid-valores">
      <div id="container-valores">
        <div class="divH3">
          <h3 class="valoresH3">Missão</h3>
        </div>
        <div id="divTextM">
          <p id="text-missao">Proporcionar uma experiência eficiente na organização de eventos, facilitando o planejamento, a coordenação e a execução de eventos de todos os portes, garantindo a satisfação dos organizadores e participantes.</p>
        </div>
        <div>
          <img src="../../assets/img/Elementos/imgMissao.png" alt="" class="img-fluid">
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="grid-valores">
      <div id="container-valores">
        <div>
          <img src="../../assets/img/Elementos/imgMissao.png" alt="" class="img-fluid">
        </div>
        <div id="divTextM">
          <p id="text-missao">Ser a plataforma de gestão de eventos, reconhecida pela inovação, excelência no atendimento ao usuário, transformando a maneira como eventos são organizados e vivenciados. </p>
        </div>
         <div class="divH3">
          <h3 class="valoresH3">Visão</h3>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div id="container-valores">
        <div class="divH3">
          <h3 class="valoresH3">Valores</h3>
        </div>
        <div id="divTextM">
          <p id="text-missao">Inovação: Soluções criativas e tecnológicas. Qualidade: Altos padrões de serviço. Compromisso: Dedicação ao cliente. Transparência: Comunicação clara.</p>
        </div>
        <div>
          <img src="../../assets/img/Elementos/imgMissao.png" alt="" class="img-fluid">
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="d-flex d-sm-none flex-column" id="mobile">
  <div id="divH1-mobile" class="d-flex align-items-center justify-content-center">
    <h1 class="text-center fw-bold fs-1" id="qmsomosH1-mobile">Quem Somos?</h1>
  </div>
  <div id="mainContent-mobile" class="d-flex align-items-center justify-content-center flex-column">
    <p id="mainText-mobile" class="fs-6">Olá, somos estudantes da Etec Professor Horácio Augusto da Silveira e formamos
      a Equipe Beatles
      para desenvolver o Trabalho de Conclusão de Curso do Técnico em Desenvolvimento de Sistemas. Foi criado, a
      Event FY, um Sistema de Gestão de Eventos que visa atender as necessidades de um organizador na criação e
      gestão do pré, durante e pós evento, e também aos clientes que frequentam eventos facilitando a sua busca e
      acesso a esses.</p>
    <div id="container-mobile">
      <section class="section-mobile d-inline-flex align-items-center justify-content-center">
        <div class="container-img d-flex align-items-center justify-content-center flex-column">
          <img src="../../assets/img/Elementos/missao.png" alt="" class="img-fluid img-QmSomos" id="missao-img">
          <span class="span-QmSomos fs-2 fw-bold">Missão</span>
        </div>
        <div class="container-p">
          <p class="p-mobile fs-6">Proporcionar uma experiência eficiente na organização de eventos, facilitando o
            planejamento, a coordenação e a execução de eventos de todos os portes, garantindo a satisfação dos
            organizadores e participantes.</p>
        </div>
      </section>
      <section class="section-mobile d-inline-flex align-items-center justify-content-center">
        <div class="container-p d-flex justify-content-center align-items-center">
          <p class="p-mobile fs-6" id="p-visao">Ser a plataforma de gestão de eventos, reconhecida pela inovação,
            excelência no atendimento ao usuário, transformando a maneira como eventos são organizados e vivenciados.
          </p>
        </div>
        <div class="container-img d-flex align-items-center justify-content-center flex-column">
          <img src="../../assets/img/Elementos/visao.png" alt="" class="img-fluid img-QmSomos">
          <span class="span-QmSomos fs-2 fw-bold">Visão</span>
        </div>
      </section>
      <section class="section-mobile d-inline-flex align-items-center justify-content-center">
        <div class="container-img d-flex align-items-center justify-content-center flex-column">
          <img src="../../assets/img/Elementos/valores.png" alt="" class="img-fluid img-QmSomos">
          <span class="span-QmSomos fs-2 fw-bold">Valores</span>
        </div>
        <div class="container-p">
          <p class="p-mobile fs-6">Inovação: Soluções criativas e tecnológicas.
            Qualidade: Altos padrões de serviço.
            Compromisso: Dedicação ao cliente.
            Transparência: Comunicação clara.</p>
        </div>
      </section>
    </div>
  </div>

</div>


<div class="d-none d-sm-block d-lg-none" id="tablet">
  <div id="divH1-tablet" class="d-flex align-items-center justify-content-center">
    <h1 class="text-center fw-bold fs-1" id="qmsomosH1-tablet">Quem Somos?</h1>
  </div>
  <div id="mainContent-tablet" class="d-flex align-items-center justify-content-center flex-column">
    <p id="mainText-tablet" class="fs-3">
      Olá, somos estudantes da Etec Professor Horácio Augusto da Silveira e formamos a Equipe Beatles
      para desenvolver o Trabalho de Conclusão de Curso do Técnico em Desenvolvimento de Sistemas. Foi criado, a
      Event FY, um Sistema de Gestão de Eventos que visa atender as necessidades de um organizador na criação e
      gestão do pré, durante e pós evento, e também aos clientes que frequentam eventos facilitando a sua busca e
      acesso a esses.</p>
    <div id="container-tablet">
      <section class="section-tablet d-inline-flex align-items-center justify-content-center">
        <div class="container-img d-flex align-items-center justify-content-center flex-column">
          <img src="../../assets/img/Elementos/missao.png" alt="" class="img-fluid img-QmSomos" id="missao-img-tablet">
          <span class="span-QmSomos fs-2 fw-bold">Missão</span>
        </div>
        <div class="container-p">
          <p class="p-tablet fs-3">Proporcionar uma experiência eficiente na organização de eventos, facilitando o
            planejamento, a coordenação e a execução de eventos de todos os portes, garantindo a satisfação dos
            organizadores e participantes.</p>
        </div>
      </section>
      <section class="section-tablet d-inline-flex align-items-center justify-content-center">
        <div class="container-p d-flex justify-content-center align-items-center">
          <p class="p-tablet fs-3" id="p-visao">Ser a plataforma de gestão de eventos, reconhecida pela inovação,
            excelência no atendimento ao usuário, transformando a maneira como eventos são organizados e vivenciados.
          </p>
        </div>
        <div class="container-img d-flex align-items-center justify-content-center flex-column">
          <img src="../../assets/img/Elementos/visao.png" alt="" class="img-fluid img-QmSomos" id="visao-img-tablet">
          <span class="span-QmSomos fs-2 fw-bold">Visão</span>
        </div>
      </section>
      <section class="section-tablet d-inline-flex align-items-center justify-content-center">
        <div class="container-img d-flex align-items-center justify-content-center flex-column">
          <img src="../../assets/img/Elementos/valores.png" alt="" class="img-fluid img-QmSomos" id="valores-img-tablet">
          <span class="span-QmSomos fs-2 fw-bold">Valores</span>
        </div>
        <div class="container-p">
          <p class="p-tablet fs-3">Inovação: Soluções criativas e tecnológicas.
            Qualidade: Altos padrões de serviço.
            Compromisso: Dedicação ao cliente.
            Transparência: Comunicação clara.</p>
        </div>
      </section>
    </div>
  </div>

</div>