* {
    font-family: "Palanquin", sans-serif;
}

#qmsomosH1 {
    margin: 0;
}

.TxtTitle {
    font-size: 450% !important;
    font-weight: bold;
    color: #fff;
    letter-spacing: 5px;
    text-shadow: 3px 3px #000;
}

.grid-qmsomos {

    display: flex;
    justify-content: center;
    align-items: center;

}

#container {
    background: #332C55;
}

#mainText {
    margin: 0;
    width: 90%;
    text-align: start;
    color: #fff;
    line-height: 140%;
    letter-spacing: 1.3px;
}

#mainContent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}

#imgQmSomos {
    object-fit: cover;
    height: 100%;
}


#divH1 {
    height: 18vh;
    background: #332C55;
    display: flex;
    justify-content: center;
    align-items: center;
}

#qmsomosH1-mobile, #qmsomosH1-tablet {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.644);
    width: 90%;
    color: #fff;
    letter-spacing: 1.5px;
    line-height: 1;
    font-size: 2.3rem !important;
}

#divH1-mobile, #divH1-tablet {
    width: 100%;
    padding-top: 8%;
}

#mobile, #tablet {
    background: #f18a1c;
}

#mainText-mobile, #mainText-tablet {
    margin-top: 1.5%;
    width: 90%;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 8%;
}

#mainText-tablet {
    width: 75%;
}

#container-mobile, #container-tablet {
    width: 100%;
    background: #332C55;
}

.p-mobile, .p-tablet {
    width: 90%;
    color: #fff;
    line-height: 1.4;
    margin-bottom: 0;
}

.img-QmSomos {
    width: 72%;
}

.container-img {
    width: 40%;
}

.container-p {
    width: 60%;
}

.section-mobile, .section-tablet {
    margin: 6% 0;

}

.span-QmSomos {
    color: #EF820D;
    padding-top: 6%;
    text-shadow: 2px 1px #000;
}

#p-visao {
    text-align: end;
}

#missao-img {
    width: 65%
}

#missao-img-tablet {
    width: 45%
}

#visao-img-tablet {
    width: 60%
}

#valores-img-tablet {
    width: 50%
}

#divTextM {
    width: 100%;
}

#container-valores {
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.divH3, .divH3-lg {
    text-align: center;
}

.divH3-lg {
    margin-top: 60%;
}

.text-valores {
    width: 90%;
    text-align: center;
    line-height: 130%;
    margin-left: 5%;
    letter-spacing: 1.3px;
    color: #332C55;
}

#imgMissao {
    width: 65%
}

.container-imgV {
    text-align: center;
}

#divH3-Visao {
    text-align: center;
    margin-top: 5%;
}

#imgVisao, #imgVisao-lg {
    width: 80%
}

#imgVisao-lg {
    margin-top: 60%;
}

#imgValores {
    width: 80%;
    margin-left: 4%;
    margin-top: 4%;
}

#fundo-valores {
    background: #EF820D;
    padding: 2% 0;
}

#divtextM {
    width: 90%;
}

#text-missao {
    width: 90%;
    text-align: center;
    margin-left: 5%;
}

#quem-somos {
    background: #f18a1c;
}

.valoresH3 {
    margin: 0;
    height: 6vh;
    color: #292444;
}