@import "~bootstrap/dist/css/bootstrap.min.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#PrincipalBG {
    background: linear-gradient(#fff, #000);
}

#boxBoasVindas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#TitleBoasVindas {
    font-size: 480%;
}

#SubTitleBoasVindas {
    font-size: 180%;
}

.carousel,
.carousel-inner,
.carousel-item,
.carousel-caption {
    height: 100vh;
    /* Altura máxima da tela */
    width: 100%;
    /* Largura máxima da tela */
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.788);
    /* Fundo semi-transparente */
    padding: 10px;
    border-radius: 10px;

}

.title {
    font-size: 10rem;
    cursor: none;
}

.h5Slider {
    font-size: 1.3rem;
}

.emphasis {
    color: #f58e21;
}

header {
    transition: background-color 0.4s ease;
    z-index: 999;
    height: 12vh;
    background: transparent;
    position: fixed;
    width: 100%;
}

#NavHeader {
    background: transparent;
    padding: 0 5vw;
    height: 12vh;
    color: #fff;
}

.aHeaderText {
    font-size: 115%;
    text-decoration: none;
}

.teste {
    height: 100vh;
}

.header-scroll {
    background-color: #fff;
}

.header-top {
    background-color: transparent;
    color: #000;
}