@import "~bootstrap/dist/css/bootstrap.min.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#PrincipalBG {
    background: linear-gradient(#fff, #000);
}

#boxBoasVindas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#TitleBoasVindas {
    font-size: 480%;
}

#SubTitleBoasVindas {
    font-size: 180%;
}

.carousel,
.carousel-inner,
.carousel-item, .carousel-caption {
    height: 88vh;
    /* Altura máxima da tela */
    width: 100vw;
    /* Largura máxima da tela */
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.788);
    /* Fundo semi-transparente */
    padding: 10px;
    border-radius: 10px;
}

.title {
    font-size: 10rem;
    cursor: none;

}

.h5Slider {
    font-size: 1.3rem;

}

.emphasis {
    color: #f58e21;
}