<div class="d-block d-sm-none" id="sliderIntegrantes-mobile">
    <div id="divH1-mobile">
        <h1 class="fs-1 text-center TxtTitle" id="IntegrantesH1-mobile">Integrantes</h1>
    </div>
    <div class="slider-container" #slider>
        <div class="card" *ngFor="let member of members">
            <img [src]="member.image" alt="{{ member.name }}" class="img-fluid" />
            <div class="member-info">
                <h3 class="fs-4" id="h3Member">{{ member.name }}</h3>
                <p id="pMember">{{ member.role }}</p>
                <span id="spanMember"><img id="gitIcon" src="../../assets/img/Elementos/GitIcon.png" alt="">{{member.github}}</span>
            </div>
        </div>
    </div>

</div>