* {
    font-family: "Palanquin", sans-serif;
}

#divH1-mobile, #divH1-desktop  {
    background: #EF820D;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#divH1-desktop{
    background: #332C55;
}

#IntegrantesH1-mobile, #IntegrantesH1-desktop {
    font-weight: bold;
    margin: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.644);
    width: 90%;
    color: #fff;
    letter-spacing: 1.5px;
    line-height: 1;
    font-size: 2rem !important;
}
#sliderIntegrantes-mobile {
    width: 100%;
    background: #332C55;
}

.slider-container, .slider-container-desktop {
    display: flex;
    overflow-x: auto;
    padding: 6% 10px;
    gap: 10px;
    cursor: grab;
}
.slider-container-desktop{
    background: #332C55;
}

.card, .card-desktop, .card-desktop-xl {
    min-width: 42vw;
    max-width: 45vw;
    background: #EF820D;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7px;
}
.card-desktop{
    min-width: 16vw;
    max-width: 17vw;
    padding: 7px 0;
    margin-right: 0.1%;
}
.card-desktop-xl{
    min-width: 15.5vw;
    max-width: 17vw;
    margin-right: 0.2%;
}

.card img, .card-desktop img {
    width: 93%;
    object-fit: cover;
    image-rendering: auto;
}

.member-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

}

.slider-container:active {
    cursor: grabbing;
}

#h3Member, #h3Member-desktop {
    font-size: 5vw;
    font-weight: bold;
    color: #fff;
    margin:0;
    text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.384);
}
#h3Member-desktop{
    font-size: 2vw;
}

#pMember, #pMember-desktop, #pMember-desktop-xl {
    color: #fff;
    text-align: center;
    font-size: 3.2vw;
    text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.384);
}
#pMember-desktop{
    font-size: 1.5vw;
}
#pMember-desktop-xl{
    font-size: 1.3vw;
}

#spanMember, #spanMember-desktop {
    padding-top: 3%;
    padding-bottom: 5%;
    color: #fff;
    font-size: 3vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#spanMember-desktop{
    font-size: 1.3vw;
}
.bi::before{
    margin-right: 5px;
}
#aContainer{
    width: 100%;
    text-decoration: none;
}

#pMember{
    font-size: 3.2vw !important;
}

#h3Member-container, #pMember-container{
    width: 100%;
    height: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#h3Member, #pMember{
    padding: 0;
    margin: 0;
    
}