* {
    font-family: "Palanquin", sans-serif;
}

#divH1-mobile {
    background: #EF820D;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#IntegrantesH1-mobile {
    font-weight: bold;
    margin: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.644);
    width: 90%;
    color: #fff;
    letter-spacing: 1.5px;
    line-height: 1;
    font-size: 2rem !important;
}

#sliderIntegrantes-mobile, #sliderIntegrantes-tablet {
    width: 100%;
    background: #332C55;
}



.slider-container {
    display: flex;
    overflow-x: auto;
    padding: 6% 10px;
    gap: 10px;
    cursor: grab;
}

.card {
    min-width: 42vw;
    max-width: 45vw;
    background: #EF820D;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px 0;
}

.card img {
    width: 93%;
    margin-top: 2%;
    object-fit: cover;
    border-radius: 5px;
    image-rendering: auto;
}

.member-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

}

.slider-container:active {
    cursor: grabbing;
}

#h3Member, #h3Member-tablet {
    font-size: 5vw;
    font-weight: bold;
    margin: 7% 0 3% 0;
    color: #fff;
    text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.384);
}

#h3Member-tablet{
    font-size: 5vw;
}

#pMember, #pMember-tablet {
    color: #fff;
    text-align: center;
    font-size: 3.2vw;
    margin: 2.4% 0 0 0;
    text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.384);
}

#pMember-tablet{
    font-size: 2.5vw;
}

#spanMember {
    padding: 3% 0;
    color: #fff;
    font-size: 3vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gitIcon {
    padding-right: 2.5%;
    width: 13%;
}
#aContainer{
    width: 100%;
    text-decoration: none;
}