<div class="d-none d-xl-block d-xxl-none">
    <div id="divH1-desktop">
        <h1 class="fs-1 text-center TxtTitle" id="IntegrantesH1-desktop">Integrantes</h1>
    </div>
    <mat-grid-list cols="6" rowHeight="50vh" id="card-container"  >
        
        <mat-grid-tile>
            <div class="card-xl" >
                <img src="../../assets/img/Integrantes/Joao.png" class="card-img" >
                <h3 class="h3Member-desktop-xl">João Eduardo</h3>
                <p id="pMember-desktop">Front-end Developer</p>
                <a href="https://github.com/juedu006" id="aContainer">
                    <span id="spanMember-desktop-xl"><i class="bi bi-github fs-3"><i id="text-git">juedu006</i></i></span>
                </a>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="card-xl" >
                <img src="../../assets/img/Integrantes/Henrique.png" class="card-img">
                <h3 class="h3Member-desktop-xl">Henrique Lopes</h3>
                <p id="pMember-desktop">Back-end Developer</p>
                <a href="https://github.com/juedu006" id="aContainer">
                    <span id="spanMember-desktop-xl"><i class="bi bi-github fs-3"><i id="text-git">Henriqueluz21</i></i></span>
                </a>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="card-xl" >
                <img src="../../assets/img/Integrantes/Anderson.png" class="card-img">
                <h3 class="h3Member-desktop-xl">Anderson A.</h3>
                <p id="pMember-desktop">DataBase Administrator</p>
                <a href="https://github.com/juedu006" id="aContainer">
                    <span id="spanMember-desktop-xl"><i class="bi bi-github fs-3"><i id="text-git">Anderson-Armando</i></i></span>
                </a>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="card-xl" >
                <img src="../../assets/img/Integrantes/Giovanne.png" class="card-img">
                <h3 class="h3Member-desktop-xl">Giovanne P.</h3>
                <p id="pMember-desktop">Back-end Developer</p>
                <a href="https://github.com/juedu006" id="aContainer">
                    <span id="spanMember-desktop-xl"><i class="bi bi-github fs-3"><i id="text-git">GiovannePDS7</i></i></span>
                </a>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="card-xl" >
                <img src="../../assets/img/Integrantes/Isabella.png" class="card-img">
                <h3 class="h3Member-desktop-xl">Isabella Amarro</h3>
                <p id="pMember-desktop">UI/UX Designer</p>
                <a href="https://github.com/juedu006" id="aContainer">
                    <span id="spanMember-desktop-xl"><i class="bi bi-github fs-3"><i id="text-git">Isabellinhaa</i></i></span>
                </a>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="card-xl" >
                <img src="../../assets/img/Integrantes/Pedro.png" class="card-img">
                <h3 class="h3Member-desktop-xl">Pedro Soares</h3>
                <p id="pMember-desktop">DataBase Administrator</p>
                <a href="https://github.com/juedu006" id="aContainer">
                    <span id="spanMember-desktop-xl"><i class="bi bi-github fs-2"><i id="text-git">PedroSoares22</i></i></span>
                </a>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>


<div class="d-none d-xxl-block">
    <div id="divH1-desktop">
        <h1 class="fs-1 text-center TxtTitle" id="IntegrantesH1-desktop">Integrantes</h1>
    </div>
    <mat-grid-list cols="6" rowHeight="55vh" id="card-container"  >
        
        <mat-grid-tile>
            <div class="card-xl" >
                <img src="../../assets/img/Integrantes/Joao.png" class="card-img" >
                <h3 class="h3Member-desktop-xl">João Eduardo</h3>
                <p id="pMember-desktop-xxl">Front-end Developer</p>
                <a href="https://github.com/juedu006" id="aContainer">
                    <span id="spanMember-desktop-xl"><i class="bi bi-github fs-3"><i id="text-git">juedu006</i></i></span>
                </a>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="card-xl" >
                <img src="../../assets/img/Integrantes/Henrique.png" class="card-img">
                <h3 class="h3Member-desktop-xl">Henrique Lopes</h3>
                <p id="pMember-desktop-xxl">Back-end Developer</p>
                <a href="https://github.com/juedu006" id="aContainer">
                    <span id="spanMember-desktop-xl"><i class="bi bi-github fs-3"><i id="text-git">Henriqueluz21</i></i></span>
                </a>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="card-xl" >
                <img src="../../assets/img/Integrantes/Anderson.png" class="card-img">
                <h3 class="h3Member-desktop-xl">Anderson A.</h3>
                <p id="pMember-desktop-xxl">DataBase Administrator</p>
                <a href="https://github.com/juedu006" id="aContainer">
                    <span id="spanMember-desktop-xl"><i class="bi bi-github fs-3"><i id="text-git">Anderson-Armando</i></i></span>
                </a>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="card-xl" >
                <img src="../../assets/img/Integrantes/Giovanne.png" class="card-img">
                <h3 class="h3Member-desktop-xl">Giovanne P.</h3>
                <p id="pMember-desktop-xxl">Back-end Developer</p>
                <a href="https://github.com/juedu006" id="aContainer">
                    <span id="spanMember-desktop-xl"><i class="bi bi-github fs-3"><i id="text-git">GiovannePDS7</i></i></span>
                </a>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="card-xl" >
                <img src="../../assets/img/Integrantes/Isabella.png" class="card-img">
                <h3 class="h3Member-desktop-xl">Isabella Amarro</h3>
                <p id="pMember-desktop-xxl">UI/UX Designer</p>
                <a href="https://github.com/juedu006" id="aContainer">
                    <span id="spanMember-desktop-xl"><i class="bi bi-github fs-3"><i id="text-git">Isabellinhaa</i></i></span>
                </a>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="card-xl" >
                <img src="../../assets/img/Integrantes/Pedro.png" class="card-img">
                <h3 class="h3Member-desktop-xl">Pedro Soares</h3>
                <p id="pMember-desktop-xxl">DataBase Administrator</p>
                <a href="https://github.com/juedu006" id="aContainer">
                    <span id="spanMember-desktop-xl"><i class="bi bi-github fs-2"><i id="text-git">PedroSoares22</i></i></span>
                </a>
            </div>
        </mat-grid-tile>
    </mat-grid-list>

</div>


<div class="d-block d-lg-none" id="sliderIntegrantes-mobile">
    <div id="divH1-mobile">
        <h1 class="fs-1 text-center TxtTitle" id="IntegrantesH1-mobile">Integrantes</h1>
    </div>
    <div class="slider-container" #slider>
        <div class="card" *ngFor="let member of members">

            <img [src]="member.image" alt="{{ member.name }}" class="img-fluid" />
            <div class="member-info">
                <div id="h3Member-container">
                    <h3 id="h3Member">{{ member.name }}</h3>
                </div>
                <div id="pMember-container">
                    <p id="pMember">{{ member.role }}</p>
                </div>
                <a href="{{member.linkGithub}}" id="aContainer">
                    <span id="spanMember"><i class="bi bi-github fs-2"></i>{{member.github}}</span>
                </a>
            </div>

        </div>
    </div>

</div>